<settings version="2">
    <setting id="alt_browser_layout" default="true">false</setting>
    <setting id="autoplay_trailer" default="true">false</setting>
    <setting id="include_adults" default="true">false</setting>
    <setting id="LanguageID" default="true">en</setting>
    <setting id="netflix_view" default="true">false</setting>
    <setting id="tmdb_api" default="true"></setting>
</settings>
